again/Magisterka/Magisterka.sdf
again/Magisterka/Magisterka.opensdf
again/Magisterka/Magisterka.v12.suo
again/Magisterka/Magisterka/x64/Release/AproksymatorLiniowy.obj
again/Magisterka/Magisterka/x64/Release/FileReader.obj
again/Magisterka/Magisterka/x64/Release/GeneratorCiagow.obj
again/Magisterka/Magisterka/x64/Release/Magisterka.Build.CppClean.log
again/Magisterka/Magisterka/x64/Release/Magisterka.log
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.read.1.tlog
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.write.1.tlog
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/cl.command.1.tlog
again/Magisterka/Magisterka/x64/Release/Odbiornik.obj
again/Magisterka/Magisterka/x64/Release/RejestrPrzesuwny.obj
again/Magisterka/Magisterka/x64/Release/Source.obj
again/Magisterka/Magisterka/x64/Release/Sygnal.obj
again/Magisterka/Magisterka/x64/Release/vc120.pdb
again/Magisterka/Magisterka/x64/Release/viterbi.obj
again/Magisterka/Testy/x64/Release/Testy.Build.CppClean.log
again/Magisterka/Testy/x64/Release/Testy.log
again/Magisterka/Viterbi_cepuszpusz/Viterbi_cepuszpusz.vcxproj.user
again/Magisterka/ipch/testy-9b715230/testy-cedbb1fd.ipch
again/Magisterka/x64/Release/Magisterka.exe
again/Magisterka/x64/Release/Magisterka.pdb
again/Magisterka/Testy/x64/Release/Testy.pch
again/Magisterka/Testy/x64/Release/Testy.tlog/CL.read.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/CL.write.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/Testy.lastbuildstate
again/Magisterka/Testy/x64/Release/Testy.tlog/Testy.write.1u.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/cl.command.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.command.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.read.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.write.1.tlog
again/Magisterka/Testy/x64/Release/TestyAproksymatora.obj
again/Magisterka/Testy/x64/Release/TestyCzytaniaPliku.obj
again/Magisterka/Testy/x64/Release/TestyGeneratora.obj
again/Magisterka/Testy/x64/Release/TestyOdbiornika.obj
again/Magisterka/Testy/x64/Release/TestyRejestruPrzesuwnego.obj
again/Magisterka/Testy/x64/Release/TestySygnalu.obj
again/Magisterka/Testy/x64/Release/stdafx.obj
again/Magisterka/Testy/x64/Release/vc120.pdb
again/Magisterka/x64/Release/Testy.dll
again/Magisterka/x64/Release/Testy.exp
again/Magisterka/x64/Release/Testy.lib
again/Magisterka/x64/Release/Testy.pdb
/again/Magisterka/x64/Release/Magisterka.exe
/again/Magisterka/ipch/testy-9b715230/testy-cedbb1fd.ipch
/again/Magisterka/Magisterka/x64/Release/Magisterka.Build.CppClean.log
/again/Magisterka/Magisterka/x64/Release/Magisterka.log
/again/Magisterka/Testy/x64/Release/Testy.Build.CppClean.log
/again/Magisterka/Testy/x64/Release/Testy.log
/again/Magisterka/Magisterka/x64/Release/AproksymatorLiniowy.obj
/again/Magisterka/Magisterka/x64/Release/FileReader.obj
/again/Magisterka/Magisterka/x64/Release/GeneratorCiagow.obj
/again/Magisterka/Magisterka/x64/Release/Odbiornik.obj
/again/Magisterka/Magisterka/x64/Release/RejestrPrzesuwny.obj
/again/Magisterka/Magisterka/x64/Release/Source.obj
/again/Magisterka/Magisterka/x64/Release/Sygnal.obj
/again/Magisterka/Magisterka/x64/Release/viterbi.obj
/again/Magisterka/Magisterka/x64/Release/vc120.pdb
/again/Magisterka/x64/Release/Magisterka.pdb
/again/Magisterka/Magisterka.v12.suo
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/cl.command.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.read.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.write.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/Viterbi_cepuszpusz.vcxproj.user
/again/Magisterka/Testy/x64/Debug/Testy.tlog/unsuccessfulbuild
/again/Magisterka/Testy/x64/Release/Testy.tlog/unsuccessfulbuild
/again/Magisterka/Magisterka/RamkaSyncCh.cpp
/again/Magisterka/Testy/TestyRamek.cpp
/again/Magisterka/Magisterka/RamkaSyncCh.h
/again/Magisterka/ipch/testy-9b715230/testy-65d4503.ipch
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_cepuszpusz.Build.CppClean.log
/again/Magisterka/Magisterka/x64/Release/RamkaSyncCh.obj
/again/Magisterka/Testy/x64/Release/TestyRamek.obj
/again/Magisterka/x64/Debug/Testy.dll
/again/Magisterka/x64/Debug/Magisterka.exe
/again/Magisterka/x64/Release/Viterbi_cepuszpusz.exe
/again/Magisterka/x64/Debug/Testy.exp
/again/Magisterka/Magisterka/x64/Debug/vc120.idb
/again/Magisterka/Testy/x64/Debug/vc120.idb
/again/Magisterka/x64/Debug/Magisterka.ilk
/again/Magisterka/x64/Debug/Testy.ilk
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/Magisterka.lastbuildstate
/again/Magisterka/Testy/x64/Debug/Testy.tlog/Testy.lastbuildstate
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/Viterbi_cepuszpusz.lastbuildstate
/again/Magisterka/x64/Debug/Testy.lib
/again/Magisterka/Magisterka/x64/Debug/Magisterka.Build.CppClean.log
/again/Magisterka/Magisterka/x64/Debug/Magisterka.log
/again/Magisterka/Testy/x64/Debug/Testy.Build.CppClean.log
/again/Magisterka/Testy/x64/Debug/Testy.log
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_cepuszpusz.log
/again/Magisterka/Magisterka/x64/Debug/AproksymatorLiniowy.obj
/again/Magisterka/Magisterka/x64/Debug/FileReader.obj
/again/Magisterka/Magisterka/x64/Debug/GeneratorCiagow.obj
/again/Magisterka/Magisterka/x64/Debug/Odbiornik.obj
/again/Magisterka/Magisterka/x64/Debug/RejestrPrzesuwny.obj
/again/Magisterka/Magisterka/x64/Debug/Source.obj
/again/Magisterka/Magisterka/x64/Debug/Sygnal.obj
/again/Magisterka/Magisterka/x64/Debug/viterbi.obj
/again/Magisterka/Testy/x64/Debug/stdafx.obj
/again/Magisterka/Testy/x64/Debug/TestyAproksymatora.obj
/again/Magisterka/Testy/x64/Debug/TestyCzytaniaPliku.obj
/again/Magisterka/Testy/x64/Debug/TestyGeneratora.obj
/again/Magisterka/Testy/x64/Debug/TestyOdbiornika.obj
/again/Magisterka/Testy/x64/Debug/TestyRejestruPrzesuwnego.obj
/again/Magisterka/Testy/x64/Debug/TestySygnalu.obj
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/viterbi.obj
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/viterbi_main.obj
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/viterbi_test.obj
/again/Magisterka/Testy/x64/Debug/Testy.pch
/again/Magisterka/Magisterka/x64/Debug/vc120.pdb
/again/Magisterka/Testy/x64/Debug/vc120.pdb
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/vc120.pdb
/again/Magisterka/x64/Debug/Magisterka.pdb
/again/Magisterka/x64/Debug/Testy.pdb
/again/Magisterka/x64/Release/Viterbi_cepuszpusz.pdb
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/cl.command.1.tlog
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/CL.read.1.tlog
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/CL.write.1.tlog
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/link.command.1.tlog
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/link.read.1.tlog
/again/Magisterka/Magisterka/x64/Debug/Magisterka.tlog/link.write.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/link.command.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/link.read.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/link.write.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/cl.command.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL.read.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL.write.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20.read.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20-dwwin.read.2.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20-dwwin.read.5.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20-dwwin.read.7.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20-dwwin.read.10.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/CL-DW20-dwwin.write.2.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/link.command.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/link.read.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/link.write.1.tlog
/again/Magisterka/Testy/x64/Debug/Testy.tlog/Testy.write.1u.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/cl.command.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/CL.read.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/CL.write.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.command.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.read.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.write.1.tlog
/Magisterka/x64/Debug/AproksymatorLiniowy.obj
/Magisterka/x64/Debug/FileReader.obj
/Magisterka/x64/Debug/GeneratorCiagow.obj
/Magisterka/x64/Debug/Magisterka.log
/Magisterka/x64/Debug/Magisterka.tlog/CL.read.1.tlog
/Magisterka/x64/Debug/Magisterka.tlog/CL.write.1.tlog
/Magisterka/x64/Debug/Magisterka.tlog/Magisterka.lastbuildstate
/Magisterka/x64/Debug/Magisterka.tlog/cl.command.1.tlog
/Magisterka/x64/Debug/Magisterka.tlog/link.command.1.tlog
/Magisterka/x64/Debug/Magisterka.tlog/link.read.1.tlog
/Magisterka/x64/Debug/Magisterka.tlog/link.write.1.tlog
/Magisterka/x64/Debug/Odbiornik.obj
/Magisterka/x64/Debug/RejestrPrzesuwny.obj
/Magisterka/x64/Debug/Source.obj
/Magisterka/x64/Debug/Sygnal.obj
/Magisterka/x64/Debug/vc120.idb
/Magisterka/x64/Debug/vc120.pdb
/x64/Debug/Magisterka.exe
/x64/Release/Viterbi_cepuszpusz.exe
/x64/Debug/Testy.exp
/Testy/x64/Debug/vc120.idb
/x64/Debug/Magisterka.ilk
/Testy/x64/Debug/Testy.tlog/Testy.lastbuildstate
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/Viterbi_cepuszpusz.lastbuildstate
/x64/Debug/Testy.lib
/Testy/x64/Debug/Testy.log
/Viterbi_cepuszpusz/x64/Release/Viterbi_cepuszpusz.log
/Testy/x64/Debug/stdafx.obj
/Testy/x64/Debug/TestyAproksymatora.obj
/Testy/x64/Debug/TestyCzytaniaPliku.obj
/Testy/x64/Debug/TestyGeneratora.obj
/Testy/x64/Debug/TestyOdbiornika.obj
/Testy/x64/Debug/TestyRejestruPrzesuwnego.obj
/Testy/x64/Debug/TestySygnalu.obj
/Viterbi_cepuszpusz/x64/Release/viterbi.obj
/Viterbi_cepuszpusz/x64/Release/viterbi_main.obj
/Testy/x64/Debug/Testy.pch
/Testy/x64/Debug/vc120.pdb
/Viterbi_cepuszpusz/x64/Release/vc120.pdb
/x64/Debug/Magisterka.pdb
/x64/Debug/Testy.pdb
/x64/Release/Viterbi_cepuszpusz.pdb
/Magisterka.v12.suo
/Testy/x64/Debug/Testy.tlog/cl.command.1.tlog
/Testy/x64/Debug/Testy.tlog/CL.read.1.tlog
/Testy/x64/Debug/Testy.tlog/CL.write.1.tlog
/Testy/x64/Debug/Testy.tlog/link.command.1.tlog
/Testy/x64/Debug/Testy.tlog/link.read.1.tlog
/Testy/x64/Debug/Testy.tlog/link.write.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/cl.command.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/CL.read.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/CL.write.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.command.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.read.1.tlog
/Viterbi_cepuszpusz/x64/Release/Viterbi_.FB195C38.tlog/link.write.1.tlog
