again/Magisterka/Magisterka.sdf
again/Magisterka/Magisterka.opensdf
again/Magisterka/Magisterka.v12.suo
again/Magisterka/Magisterka/x64/Release/AproksymatorLiniowy.obj
again/Magisterka/Magisterka/x64/Release/FileReader.obj
again/Magisterka/Magisterka/x64/Release/GeneratorCiagow.obj
again/Magisterka/Magisterka/x64/Release/Magisterka.Build.CppClean.log
again/Magisterka/Magisterka/x64/Release/Magisterka.log
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.read.1.tlog
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.write.1.tlog
again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/cl.command.1.tlog
again/Magisterka/Magisterka/x64/Release/Odbiornik.obj
again/Magisterka/Magisterka/x64/Release/RejestrPrzesuwny.obj
again/Magisterka/Magisterka/x64/Release/Source.obj
again/Magisterka/Magisterka/x64/Release/Sygnal.obj
again/Magisterka/Magisterka/x64/Release/vc120.pdb
again/Magisterka/Magisterka/x64/Release/viterbi.obj
again/Magisterka/Testy/x64/Release/Testy.Build.CppClean.log
again/Magisterka/Testy/x64/Release/Testy.log
again/Magisterka/Viterbi_cepuszpusz/Viterbi_cepuszpusz.vcxproj.user
again/Magisterka/ipch/testy-9b715230/testy-cedbb1fd.ipch
again/Magisterka/x64/Release/Magisterka.exe
again/Magisterka/x64/Release/Magisterka.pdb
again/Magisterka/Testy/x64/Release/Testy.pch
again/Magisterka/Testy/x64/Release/Testy.tlog/CL.read.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/CL.write.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/Testy.lastbuildstate
again/Magisterka/Testy/x64/Release/Testy.tlog/Testy.write.1u.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/cl.command.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.command.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.read.1.tlog
again/Magisterka/Testy/x64/Release/Testy.tlog/link.write.1.tlog
again/Magisterka/Testy/x64/Release/TestyAproksymatora.obj
again/Magisterka/Testy/x64/Release/TestyCzytaniaPliku.obj
again/Magisterka/Testy/x64/Release/TestyGeneratora.obj
again/Magisterka/Testy/x64/Release/TestyOdbiornika.obj
again/Magisterka/Testy/x64/Release/TestyRejestruPrzesuwnego.obj
again/Magisterka/Testy/x64/Release/TestySygnalu.obj
again/Magisterka/Testy/x64/Release/stdafx.obj
again/Magisterka/Testy/x64/Release/vc120.pdb
again/Magisterka/x64/Release/Testy.dll
again/Magisterka/x64/Release/Testy.exp
again/Magisterka/x64/Release/Testy.lib
again/Magisterka/x64/Release/Testy.pdb
/again/Magisterka/x64/Release/Magisterka.exe
/again/Magisterka/ipch/testy-9b715230/testy-cedbb1fd.ipch
/again/Magisterka/Magisterka/x64/Release/Magisterka.Build.CppClean.log
/again/Magisterka/Magisterka/x64/Release/Magisterka.log
/again/Magisterka/Testy/x64/Release/Testy.Build.CppClean.log
/again/Magisterka/Testy/x64/Release/Testy.log
/again/Magisterka/Magisterka/x64/Release/AproksymatorLiniowy.obj
/again/Magisterka/Magisterka/x64/Release/FileReader.obj
/again/Magisterka/Magisterka/x64/Release/GeneratorCiagow.obj
/again/Magisterka/Magisterka/x64/Release/Odbiornik.obj
/again/Magisterka/Magisterka/x64/Release/RejestrPrzesuwny.obj
/again/Magisterka/Magisterka/x64/Release/Source.obj
/again/Magisterka/Magisterka/x64/Release/Sygnal.obj
/again/Magisterka/Magisterka/x64/Release/viterbi.obj
/again/Magisterka/Magisterka/x64/Release/vc120.pdb
/again/Magisterka/x64/Release/Magisterka.pdb
/again/Magisterka/Magisterka.v12.suo
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/cl.command.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.read.1.tlog
/again/Magisterka/Magisterka/x64/Release/Magisterka.tlog/CL.write.1.tlog
/again/Magisterka/Viterbi_cepuszpusz/Viterbi_cepuszpusz.vcxproj.user
